.App {
  text-align: center; 
}

.App-header {
  background-color: #ff7978;
  background-image: url("./assets/images/bg-intro-desktop.png");
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0 5%;
  color: white;
  justify-content: space-evenly;
}



@media (max-width: 767px) {
  .App-header {
    background-image: url("./assets/images/bg-intro-mobile.png");
    padding: 0 30px;
    flex-direction: column;
  }
}

